
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.centerBox{
  text-align: center;
  margin-top: 22%;
  margin-left: 15%;
  margin-right: 15%;
}

.progressBarBox{
  border: solid 2px black;
}

#pageComplete{
  width: 10%;
}

.profilePic{
  width: 200px;
}

.homePage{
  background-color: #0b0608;
  color: white;
}

.titleRow{
  color: white;
  text-align: center;
}

.fab, .fas{
  text-align: center;
  width: 50%;
}

.devicon-react-original{
   animation: App-logo-spin infinite 20s linear;
}

.devicon-express-original-wordmark{
  color: white;
}

.fa-leaf{
  color: #6db33f;
  bottom: 3%;
}

.container{
  display: inline-block;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.Knowledge{
  text-align: center;
}