/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centerBox{
  text-align: center;
  margin-top: 22%;
  margin-left: 15%;
  margin-right: 15%;
}

.progressBarBox{
  border: solid 2px black;
}

#pageComplete{
  width: 10%;
}

.profilePic{
  width: 200px;
}

.homePage{
  background-color: #0b0608;
}

.titleRow{
  /*background-color: rgb(51, 48,46);*/
  /*background-color: #0b0608;*/
  color: white;
  text-align: center;
}

.knowledge{

}

.fab, .fas{
  text-align: center;
  width: 50%;
}

.devicon-react-original{
   animation: App-logo-spin infinite 20s linear;
}

.devicon-express-original-wordmark{
  color: white;
}

.fa-leaf{
  color: #6db33f;
  bottom: 3%;
}